.mobile-menu {
  width: 100%;
  height: 100%;
  background-color: $color-white;
  overflow-y: scroll;

  &__content {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 50px;

    &__btn {
      margin: 15px auto;
      width: 90px;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 16px 0;
      font-size: 16px;
      opacity: 0.8;
      cursor: pointer;
      justify-content: center;
      &:hover {
        opacity: 1;
      }
      &--selected {
        font-weight: 600;
        opacity: 1;
      }
    }
  }
}
